<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head'); %>
<body>
    <%-include('includes/nav'); %> 
    <div class="container">
        <h2>Login</h2>
        <% if (message.type) { %>
            <div class="alert alert-<%= message.type === 'success'?'success':'danger' %>" role="alert"><%= message.body %></div>
        <% } %>
        <form method="POST" action="/login">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" name="email" class="form-control <%= errors.email ?'is-invalid':''%>" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" value="<%= formData.email %>" maxlength="128" required >                    
                <%if (errors.email) { %>
                    <div class="invalid-feedback">
                        <%=errors.email[0] %>
                    </div>
                <%}%>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control <%= errors.password ?'is-invalid':''%>" id="password" placeholder="Password" required>
                <%if (errors.password) { %>
                    <div class="invalid-feedback">
                        <%=errors.password[0] %>
                    </div>
                <%}%>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
<%- include('includes/footer'); %>
</html> 